/*************************
*
*  Color
*
*************************/
:root {
    --color-logo: #243e60; 
    --color-white: #ffffff;
    --color-bg: #b46f62;
    --color-bg-secondary: #e58a78;
    --color-secondary: #00354f;
    --color-readmore: #666666;
  }