:root {
    --color-logo: #ffcc0d;
    --color-border: #efefef;
    --color-title: #222222;
    --color-heading: #dcdcdc;
    --color-excerpt: #717171;
    --color-title-black: rgba(0,0,0,0.8);
}
